.dropdown
  %button.btn.btn-lg.btn-default#question-dropdown{ type: 'button', 'data-toggle' => 'dropdown', 'aria-haspopup' => true, 'aria-expanded' => false }
    = @quiz_activity.question.decorate.type
    %span.caret
  %ul.dropdown-menu{ role: 'menu', 'aria-labeledby' => 'question-dropdown' }
    - @quiz_activity.decorate.question_links.each do |link|
      %li{ role: 'presentation' }
        = link_to link[:type], link[:path], role: 'menuitem', tabindex: -1
