.col-xs-12.col-sm-8.col-md-6
  .panel.panel-default
    .panel-body
      .col-xs-9.col-md-10
        = link_to section do
          %h4
            = section.name
      .col-xs-3.col-md-2
        = form_for section,  method: :delete do |f|
          = f.submit 'Delete', class: 'btn btn-default'
