.jumbotron
  %h1 Problems?
  %p.lead
    = t('help.heading')
  %p
    = t('help.content')
  = link_to 'Send feedback', feedback_path, class: 'btn btn-lg btn-primary'
  %p
    = t('help.ask_developer')
