- flash.each do |type, messages|
  - Array(messages).each do | message |
    .alert{class: "alert-dismissible alert-#{type}"}
      %button{type: "button", data:{dismiss: "alert"}, class:"close"} &times;
      = message
